# manim
manim

# web service
flask
fastapi
uvicorn[standard]

# for google api
# google-api-python-client
# google-auth-httplib2
# google-auth-oauthlib

# for rag scraping
beautifulsoup4
requests
playwright
wikipedia-api

numpy